
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:ital,wght@1,300&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: 'Open Sans',sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}
ul{
    list-style: none;
    color:#333 ;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 15px;
}
p{
    margin: 10px 0;
    margin-bottom: 15px;
}
.text-grey{
    color: #707070;

}
.text-bold{
    font-weight: bold
}
.btn{
    margin-top: 15px;
}
#navbar .logo {
    width: 180px;
  }
  /* Navbar */
  .navbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      position: absolute;
      top: 24px;
      left: 148px;
      width: 1144px;
      height: 54px;

  }

  .navbar a{
    color: #fff;
    padding: 10px 20px;
    margin: 0 20px;
}
.navbar a:hover{
    background-color: #00D563 ;
    border-radius: 27px;
}
#navbar nav ul li a.current {
    background: #00D563;
    border-radius: 27px;
    color: #fff;
  }
.navbar ul{
    display: flex;
  }
  .hero {
    background: url('/img/bg1.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}
.hero .content,
.hero .content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}
.hero .content h1{
    padding :  0 270px;
    font-size: 45px;
    
}
.hero .content-2{
    box-sizing: border-box;
    background: url('/img/Mask\ Group\ 109.jpg') no-repeat center center/cover;
    width: 100%;
    height: 289px;
    font-weight: 51;
    font-family: Arial, Helvetica, sans-serif;
}
.hero .content-3{
    box-sizing: border-box;
    background: url('/img/bg4.jpg') no-repeat center center/cover;
    width:100%; 
    height: 400px;
    font-weight: 51;
    font-family: Arial, Helvetica, sans-serif;
}
.content-3{
    text-align: left;
    width: 579px;
    height: 111px;
    padding-left: 218px;
    padding-top: 100px;
    font-size: 18px;
}
.content-3 h1{
    font-size: 45px;
    padding-right: 602px;
    
}

.customer{
    box-sizing: border-box;
    background: url('/img/bg3.jpg') no-repeat center center/cover;
    width: 100%;
    height: 289px;
}
.customer h1,
.business-heading{
    text-align: center;
    padding :  30px 270px;
    margin-bottom: 0;
    font-weight: 51;
    font-family: Arial, Helvetica, sans-serif;

}
.customer p{
    text-align: center;
    margin-top: 0;
    padding: 0;
    font-size: 20px;
}
.items {   
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content:space-evenly;
    margin-top: 30px;
    /* top: 1123px;
    left: 83px;
    width: 1274px;
    height: 56px; */
    align-items: center;
}
.business-heading {
    color: #333;
    font-size:30px;
}
.business-heading p{
    /* margin-top: -20px; */
}
.box-image{
    margin-left: 148;
    background: url('/img/business.jpg') no-repeat center;
    padding : 50px 30px 55px;
    height: 400px;
    
}
.box-image img{
    padding-top: 4px;
    margin-left: 218px;
    width: 80.55px;
    height: 80.55px;


}
.box-image p{
    width: 579px;
    height: 111px;
    padding-left: 218px;
    font-size: 18px;

}
.business-heading-2{
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
}
/* .overview,
.overview .b1{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 30px 100px;
}
.overview
{
    background: url('/img/bgoverview.jpg') no-repeat center center/cover;
}
.b1 .para{
    display: flex;
    flex-direction: column;
} */

.overview-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-image: url('/img/bgoverview.jpg');
    width: 100%;
    height: auto;
  }
  .overview-grid .b1
  {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      justify-content: center;
  }
  
  .b1 {
      padding-left: 100px;
      padding-top: 30px;
      padding-bottom: 50px;
      justify-items: baseline;
  }
  .b1 p{
    font-size: smaller;
    text-align: center;
    width: 258px;
    height: 59px;
    float:none;
    padding-left: 50px;
    padding-right: 160px;
}
.b1 img,h1{
    margin: 0px;
    padding-bottom: 0px;
}
   
#item-img img{
    top: 2063px;
    left: 844px;
    width: 596px;
    height: 628px;
    float: right;
    
}
#ser-item img,h2{
    margin: 20px;
    text-align: left;
    
    padding-right: 500px;
    color: #333
    
}
#ser-item p{
    margin: 20px;
    text-align: left;
    
    padding-right: 500px;
    color: #333
}
#grid-service{
    box-sizing: border-box;
    width: fit-content;
}
#ser-item{
    text-align: left;
    padding :0 200px;
    margin-bottom: 0;
    font-weight: 51;
}
.container-service{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 50px;
    background: #F7F8F7;
   
   
    
}
.service-no{
    text-align:center;  
}
#offer .service-no h2{
    text-align:center;  
}
#skills{
    background: #F7F8F7;
    margin-top: -40px;
}
#skill-header p{
    margin-top: -40px;
    margin-left: 190px;
    color: #707070;
}
#skill-b1 img{
    width: 6    0px;
    margin-left: 210px;
}
#skill-b1 h3{
    padding-bottom: 20px;
    padding-right: 20px;
    margin-left: 210px;
}
#skill-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 150px;
    margin-top: 50px;
}
/* #skill-type {
    background-color: #707070;
} */

.dot1{
    height: 10px;
    width: 10px;
    background-color: #00D563;
    border-radius: 50%;
    display: inline-block;
    margin-left: 530px;
  }
.dot2{
    height: 10px;
    width: 10px;
    background-color: #00D563;
    border-radius: 50%;
    display: inline-block;
    margin-left: 255px;
}
#skill-type{
    display: flex;
    /* background-color: #707070; */
}
#frontend h1{
    margin-left: 515px;
}
#backend h1{
    margin-left: 230px;
}
#skill-main{
    text-align: center;
    margin-top: 40px;
    padding: 50px;
    font-size: 28px;

}
.b1 p{
    text-align: center;
    padding-bottom: 100px;
}
#content-5{
    background: url('/img/contentbg5.jpg') no-repeat center center/cover;
}
/* #tools{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 150px;
    grid-gap: 5rem;
    margin-top: 50px;
} */
#tool-main{
        text-align: center;
        margin-top: 40px;
        padding: 50px;
        font-size: 28px;
}
#tool-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:5rem;
        margin-right: 150px;
        margin-top: 50px;
        padding-left: 250px;
}
#tool-t1 img{
    
    top: 5912px;
    left: 563px;
    width: 47px;
    height: 47px;
    /* margin-top: 30px; */

}

#img-circle{
    top: 5910px;
    left: 1252px;
    width: 188px;
    height: 362px; 
    float: right;
    margin-right: 0;
    padding-right: 0;
}  


/* #tool-t1:nth-child(3){
    grid-template-columns: 3/span 2;
}  */
/* top: 2063px;
    left: 844px;
    width: 596px;
    height: 628px;
    float: right; */

/* New- Services */
#new-services h1{
    margin-left: -200px;
    margin-top: -5px;
}
#new-services{
    margin-top: 100px;
    height: 700px;
    background: #F7F8F7;
}
#serv-main h1{
    text-align: center;
    margin-top: 40px;
    padding: 50px;
    font-size: 28px;
}
#serv-main p{
    text-align: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 190px;
    font-size: 20px;
    color: darkgray;
}
#new-services img{
    margin-left: 225px;
}
#new-serv-c2{
    display: grid;
    grid-template-columns: 4fr 4fr;
}
#new-serv-c2 img{
    margin-left: 270px;
}
#new-s1 img{
    width: 60px;
    margin-left: 210px;
}
#new-s1 h3{
    margin-left: 210px;
}
#ns-1 img, #ns-2 img {
    width: 60px; 
}
#ns-1 img{ 
    margin-left: 430px; 
}
#ns-1 h3{ 
    margin-left: 350px; 
}
#ns-2 img{ 
    margin-left: 360px; 
}
#ns-2 h3{ 
    margin-left: 350px; 
}
#ns-1 p{ 
    margin-left: 200px; 
    margin-top: -30px; 
    text-align: center; 
}
#ns-2 p{ 
    margin-left: 10px; 
    margin-top: -30px; 
    text-align: center; }

#new-serv-c1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 150px;
    margin-top: 50px;
}

#consult{
    background: url(/img/consult.jpg) no-repeat center center/cover;
    height: 250px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    margin-bottom: 50px;
}

#consult h2{
    padding: 20px;
    margin-left: 40px;
    margin-top: 30px;
    display: inline-block;
    font-weight: bold;

}
#consult p{
    margin-top: -10px;
    margin-left: 60px;
    
}

#consult .btn{
    background: #fff;
    color: #333;
    float: right;
    margin-bottom: 50px;
    margin-right: 60px;
    margin-top: -120px;
    width: 180px;
    height: 70px;
    border-radius: 30px;
    /* padding: 5px; */
    text-align: center;
}

.consult-container{
    margin-top: 100px;
}
#consult{
    padding-top: 60px;

}

#consult a{
    padding-top: 20px;
    
}
#consult img{
    width: 25px;
    display: inline;
    float: right;
    /* padding-left: -120px; */
}



/* PORTFOLIO SECTION */
#p-web img{
    width: 70px;
    margin-left: 670px;
    cursor: pointer;
}
#p-mob img{
    width: 70px;
    margin-left: 80px;
    cursor: pointer;
}
#portfolio h4{cursor: pointer;}
#portfolio h4:hover{color: #00D563;}

.dot-web {
    height: 10px;
    width: 10px;
    background-color: #00D563;
    border-radius: 50%;
    display: inline-block;
    margin-left: 700px;
  }

.dot-mob{
    height: 10px;
    width: 10px;
    background-color: #00D563;
    border-radius: 50%;
    display: inline-block;
    margin-left: 115px;
}
#portfolio-type{
    display: flex
}
#p-web h3{
    margin-left: 685px;
}
#p-mob h3{
    margin-left:90px;
}
#c-1 img, #c-2 img, #c-3 img{
    width: 350px;
    margin-left: 65px;
    margin-top: 30px;
}
#portfolio-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}
#c-1 h3, #c-2 h3, #c-3 h3{ margin-left: 100px;text-align: left;}
#c-1 p, #c-2 p, #c-3 p{ margin-left: 100px; margin-top: 15px;
text-align: left;}
#c-1 h4, #c-2 h4, #c-3 h4{ margin-left: 100px; margin-top: 15px;text-align: left;}

#blueprint h1{
    text-align: center;
    margin-top: 40px;
    padding: 50px;
    font-size: 28px;
}
#blueprint img{
    width: 30px;
    margin-right: 10px;
}

/* ready to try cronj */
#ready{
    background: url(/img/Greenback.png) no-repeat center center/cover;
    height: 30vh;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 300px;
}

#ready h2{
    padding: 20px;
    margin-left: 40px;
    margin-top: 30px;
    display: inline-block;

}
#ready p{
    margin-top: -10px;
    margin-left: 40px;
}

#ready .btn{
    background: #fff;
    color: #333;
    float: right;
    margin-bottom: 100px;
    margin-right: 60px;
    margin-top: -120px;
    width: 200px;
    text-align: center;
}
#readyc{
    width: 30px;
    display: inline;
}

/* new contact */
#contact-us{
    background: url(/img/contact-bg.png)no-repeat center center/cover;
    height: 60vh;
    margin-top: 80px;
}
#contact-content h2{
    text-align: center;
    margin-left: 200px; 
    padding: 90px;
    margin-right: 130px;
}

#contact-content p{
    margin-left: 400px;
    margin-right: 130px;
    margin-top: -100px;}
#contact-content img{
    width: 20px; 
    margin-left: 10px;
}
#contact-content a{
    width: 189px;
    height: 61px; 
    background: #fff;
    margin-left: 650px; 
    text-decoration: none;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    border-radius: 7px;
    color: #000000;
    font-weight: bold;
}

/* final form  */

#form{
    color: #333;
    background: url(/img/Path\ 5630.png) no-repeat center center/cover;
    margin-top: 200px;
}

#form-head h1{
    color: #333;
    margin-left: 75px;
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
    text-align: left;
}
#form-main{
    color: #333;
    background: #fff;
    margin-left: 180px;
    margin-right: 140px;
    height: 1500px;
    margin-top: -140px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}
#form-head h4{
    color: #333;
    padding-left: 30px;
    margin-left: 90px;
    text-align: left;
    margin-bottom: 5px;
}
#form-head{
    border-bottom: 0.5px #ebe3e3 solid;
}
#form-head img{ width: 80px; float: right; margin-top: -150px; margin-right: 50px;}
#name{
    margin-left: 100px;
    margin-top: -10px;
    height: 6vh;
    width: 350px;
    border-radius: 5px #4569B38C;
    opacity: 50%;
}
#mobile{
    height: 6vh;
    width: 350px;
    border-radius: 5px #4569B38C;
    margin-top: -40px;
}
#name-input{
    margin-left: 100px;
}
#f-head h1{
    text-align: left;
    margin-bottom: ;
    margin-left: 50px;
    font-size: 22px;
    font-weight: 400;
}
#f-head input{ border-radius: 5px; color: #697ca18c; }
#mobile-num{
    margin-left: 10px;
    margin-top: 25px;
}

#f-head{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
#requirements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#req1 h1{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 22px;
    font-weight: 400;
}

#req1 input[type="checkbox"]{
    width: 30px; 
    height: 30px; 
    margin-left: 100px;
    margin-top: 20px;
}
#req2 input[type="checkbox"]{
    width: 30px; 
    height: 30px; 
    margin-left: 40px;
    margin-top:75px;
} 

#req3 input[type="checkbox"]{
    width: 30px; 
    height: 30px; 
    margin-left: 40px;
    margin-top: 75px;
}
#req4 input[type="checkbox"]{
    width: 30px; 
    height: 30px; 
    margin-left: -40px;
    margin-top: 75px;
}
#req5 input[type="checkbox"]{
    width: 30px; 
    height: 30px; 
    margin-left: 99px;
    margin-top: 35px;
}
#req5{ grid-column: span 2;}

#req1 h4{
    margin-left: 150px; 
    margin-top: -35px;
}
#req2 h4{
    margin-left: 80px; 
    margin-top: -35px;
}
#req3 h4{
    margin-left: 80px; 
    margin-top: -35px;
}
#req3 h4{
    margin-left: 80px; 
    margin-top: -35px;
}
#req4 h4{
    margin-left: 10px; 
    margin-top: -35px;
}
#req5 h4{
    margin-left: 150px; 
    margin-top: -35px; 
}

#enquiry-content h1{
    text-align: left;
    margin-left: 50px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 22px;
}
#enquiry{
    margin-left: 100px; opacity: 60%;
    height: 200px; 
    width: 800px;
    margin-top: 10px;
}



#final-form-btn button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #0F4DC2;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    margin-left: 100px;
    margin-top: 20px;
    height: 60px;
}

#final-form-btn button:hover{
    opacity: 0.9;
}



/* green */
#green{
    background: url('/img/Greenback.png') no-repeat center center/cover;
    margin-top: 200px;
}
/* frequently askeed */
#grid{
    display: grid;
    margin-top: 100px;
    grid-gap:1.3rem;
    
}
#questions{
    color: #333;
    padding: 3 rem;
    border:#ccc 1px solid;
    background: #7eb698;
    /* font-size: 1.3rem; */
    /* font-weight: bold;   */
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    justify-items: center;
    
}
#questions h2{
    float: right;
    text-align: left;
    /* margin-left: 300px; */

}
#questions h3{
    text-align: left;
    float: left;
    /* padding-right: 500px; */
}

/* footer */
#footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #F6F9FC;
    /* height: 80vh; */
    margin-top: 100px;
}
#footer-content img{
    width: 150px;
    margin-top: 60px;
    margin-left: 80px;
}
#footer-content ul li{
    margin-left: 80px;
    padding: 10px;
    border-right: 1px #77797a solid ;
}
#footer-branch img{width: 25px;}
#footer-service-1{
    margin-top: 80px;
    margin-left: 20px;
}
#footer-service-1 ul {
    margin-top: 10px;
}
#footer-service-1 ul li{
    padding: 7px;
    padding-right: -10px;

}

#footer-service-2{
    margin-top: 120px;
}
#footer-service-2 ul li{
    padding: 10px; 
    border-right: 1px #77797a solid ;}

#footer-links{
    margin-top: 80px;
    margin-left: 30px;
}
#footer-links ul{
    margin-top: 10px;
}
#footer-links ul li{
    padding: 8px;
    border-right: 1px #77797a solid ;
    margin-right: 100px;
}
#footer-branch ul img{
    margin-left: -40px;
    margin-top: 20px;
}
#footer-branch ul img:first-child{margin-top: 100px;}
#footer-branch ul li{
    margin-top: -35px;
}
#footer-branch h3{
    margin-top: 80px;
    margin-left: -40px;
    margin-bottom: -80px;
}
#conclusion-text{margin-left: 80px; }
#footer-below{grid-column: 1 / span 4;}
#social img{
    width: 50px;
    margin-left: 5px;
    margin-top: 20px;
}
#social img:first-child{
    margin-left: 70px;
}

#footer ul li:hover, #social img:hover{cursor: pointer; color: #77797a;}
