.text-primary{
    color: #fff;

}
.text-secondary{
    color: #00D563;
}
.highlight{
    color: #0D2B51;
}
.primary-highlight{
    color:#00D563;
}
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn-primary{
    background-color: #00D563;
    color: #fff;
}
.btn-light{
    background-color: #fff;
    color: #333;
}
.text-light{
    background-color: #fff;
    color: #333;
}
.text-dark{
    color: #fff;
}
.alignment{
    text-align: center;
}
.text-black{
    color: #333;
}
.text-bold{
    font-weight: bold;
}